[submodule "package/luci-app-unblockneteasemusic"]
	path = package/luci-app-unblockneteasemusic
	url = https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic.git
	branch = master
[submodule "package/alist"]
	path = package/alist
	url = https://github.com/sbwml/luci-app-alist
